@media screen and (min-width: 600px) {
    .intro-paragraph {
        font-size: 18px;
        line-height: 1.5;
        color: var(--text-color);
        justify-content: center;
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }

}
@media screen and (max-width: 559px) {
    .intro-paragraph {
        font-size: 16px;
        line-height: 1.5;
        color: var(--text-color);
        justify-content:baseline;
        text-align:justify;
        padding: 10px;
        margin: 10px auto;
    }

}


.intro-paragraph strong {
    font-weight: bold;
}

.intro-paragraph em {
    font-style: italic;
}

.intro-paragraph a {
    color: var(--text-color);
    text-decoration: none;
}

.intro-paragraph a:hover {
    text-decoration: underline;
}