/* Estilo para el desplazamiento hacia abajo */


#content {
    padding-top: 100px;
    /* Ajusta el valor según la altura de tu encabezado */
    scroll-margin-top: 100px;
    /* Ajusta el valor según la altura de tu encabezado */
}

.scroll-down {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.scroll-down.visible {
    opacity: 1;
}

.scroll-down .hidden {
    opacity: 0;
    pointer-events: none;
}

.scroll-down a {
    animation: bounce 1.5s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(5px);
    }

    60% {
        transform: translateY(3px);
    }
}